<!DOCTYPE HTML>
<html>
	<head>

	</head>

	<body>
		<form class="form-inline">
	      <div class="form-group">

            <!-- Input fields for stock content !-->
	        <label for="nameInput">Stock Label</label>
            <input type='text' id='stockName' placeholder='First Name'>

            <!-- Input field for additional info specific to the type of analysis !-->
            <div id="addition_info">
                <!-- User input in here !-->
            </div>

			<!-- REACT TEST FIELD !-->
			<div id="react-test"></div>
	     </div>

	    </form>
        <!-- Selecting a method of analysis !-->
        <select id="selection-choice">
            <option id="default-option">----</option>
            <option id="lin-reg">Linear Regression</option>
            <option id="test">Moving Average</option>
        </select>

        <!-- Importing the requqired javaScript libraries !-->
	    <script src="{{ url_for('static', filename='jquery.js') }}" type="text/javascript"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" type="text/javascript"></script>

			<!-- Importing React JS (may delete) !-->
			<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  		<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
			<script src="{{ url_for('static', filename='react.js') }}"></script>

      <!-- Canvas for the grph that will be generated !-->
	    <div class="graph-container">
        	<canvas id="myChart" width="400" height="200"></canvas>
    	</div>

        <!-- Importing the required libraries !-->
        <script src = "{{ url_for('static', filename='moving_average.js') }}" type="text/javascript"></script>
        <script src = "{{ url_for('static', filename='lin_regression.js') }}" type="text/javascript"></script>
    	<script src = "{{ url_for('static', filename='graph.js') }}" type="text/javascript"></script>

        <!-- AJAX/jQuery implementation !-->
	    <script type="text/javascript">
				//rendering the submit button
				//ReactDOM.render(e(SubmitButton), document.getElementById('react-button-test'));

    		$(function(){

                $('#selection-choice').on('change', function(event) {

                    //getting the value of the user's method of analysis
                    analysis_mode = $('#selection-choice').val()

					//declaring the react container
					const domContainer = document.querySelector('#react-test');
					ReactDOM.render(e(InfoForms), domContainer);
                });
    		})
	    </script>
	</body>
</html>
