<!DOCTYPE HTML>
<html>
	<head>

	</head>

	<body>
		<form class="form-inline">
	      <div class="form-group">

            <!-- Input fields for stock content !-->
	        <label for="nameInput">Stock Label</label>
            <input type='text' id='stockName' placeholder='First Name'>

            <!-- Input field for additional info specific to the type of analysis !-->
            <div id="addition_info">
                <!-- User input in here !-->
            </div>

						<!-- REACT TEST FIELD !-->
						<div id="react-test"></div>
	      </div>

				<!-- Testing if the react button is working !-->
				<div id="react-button-test"></div>
	      <!-- <button type="submit" class="submit-button">Submit (Non-react)</button> TEMPOARILY DELETED!-->

	    </form>
        <!-- Selecting a method of analysis !-->
        <select id="selection-choice">
            <option id="default-option">----</option>
            <option id="lin-reg">Linear Regression</option>
            <option id="test">Moving Average</option>
        </select>

        <!-- Importing the requqired javaScript libraries !-->
	    <script src="{{ url_for('static', filename='jquery.js') }}" type="text/javascript"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" type="text/javascript"></script>

			<!-- Importing React JS (may delete) !-->
			<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  		<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
			<script src="{{ url_for('static', filename='react.js') }}"></script>

      <!-- Canvas for the grph that will be generated !-->
	    <div class="graph-container">
        	<canvas id="myChart" width="400" height="200"></canvas>
    	</div>

        <!-- Importing the required libraries !-->
        <script src = "{{ url_for('static', filename='moving_average.js') }}" type="text/javascript"></script>
        <script src = "{{ url_for('static', filename='lin_regression.js') }}" type="text/javascript"></script>
    	<script src = "{{ url_for('static', filename='graph.js') }}" type="text/javascript"></script>

        <!-- AJAX/jQuery implementation !-->
	    <script type="text/javascript">
				//rendering the submit button
				ReactDOM.render(e(SubmitButton), document.getElementById('react-button-test'));

    		$(function(){

                $('#selection-choice').on('change', function(event) {

                    //getting the value of the user's method of analysis
                    analysis_mode = $('#selection-choice').val()

										//declaring the react container
										const domContainer = document.querySelector('#react-test');

                    //checking which method of analysis the user used
                    if(analysis_mode == "Linear Regression"){

                        //deleting the existing boxes, and creating the new required forms
												ReactDOM.render(e(LinRegression), domContainer);
												//PRE-REACT VERSION
                        //$('#addition_info').empty();
                        //$('#addition_info').append(
                        //"<label for='nameInput'>Days in the past</label> <input type='text' id='days' placeholder='50'> <label for='nameInput'>How many data point do you want the regression to go for</label> <input type='text' id='lin_regression' placeholder='50'>");
                    }else if(analysis_mode == "Moving Average"){
												//deleting the existing boxes, and creating the new required forms
												ReactDOM.render(e(MovingAverage), domContainer);
												//PRE-REACT VERSION
                        //$('#addition_info').empty();
                        //$('#addition_info').append("<label for='nameInput'>Number of days in MA</label> <input type='text' id='past_days' placeholder='50'><label for='nameInput'>Total number of days</label> <input type='text' id='total_days' placeholder='50'>");
                    }
                });

                //Sending the data to the server with AJAX, and graphing the processed data
    			/*$('.submit-button').on('click', function(event) {
                    if(analysis_mode == "Linear Regression"){
                        lin_regression_ajax(event);
                    }else if(analysis_mode == "Moving Average"){
                        moving_average_ajax(event)
                    }
    			});*/
    		})
	    </script>
	</body>
</html>
